<html>
<head>
    <meta charset="UTF-8">
    <title>Query Element - WRLDC Grid Elements</title>
    <link rel="stylesheet" type="text/css" href="./home.css">
    <link rel="shortcut icon" type="image/ico"
          href="https://raw.githubusercontent.com/POSOCO/grid_elements_api/gh-pages/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
</head>
<body>
<div class="wrapper">
    <br>
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>type</th>
            <th>level</th>
            <th>owner_names</th>
            <th>region_names</th>
            <th>ss_names</th>
            <th>ss_owner_names</th>
            <th>ss_region_names</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="footer" class="footer"
     style='background-color:#217346;color:#EEEEEE;width:100%;padding-left:1em;'>
    <span>The Code for this WebApp is hosted at </span><a
            href="https://github.com/POSOCO/grid_elements_api"
            style="color:#dddddd;" target="_blank">https://github.com/POSOCO/grid_elements_api</a>
</div>
<script src="./libs/jquery/jquery-1.7.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script src="./element-query.js"></script>
</body>
</html>