<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Lines Query - Grid Elements</title>
    <!-- Favicon-->
    <link rel="icon" href="https://raw.githubusercontent.com/POSOCO/grid_elements_api/gh-pages/favicon.ico"
          type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="plugins/node-waves/waves.css" rel="stylesheet"/>

    <!-- Animation Css -->
    <link href="plugins/animate-css/animate.css" rel="stylesheet"/>

    <!-- Bootstrap Select Css -->
    <link href="plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>

    <!-- JQuery DataTable Css -->
    <link href="plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="css/themes/all-themes.css" rel="stylesheet"/>
</head>

<body class="theme-red">
<% include ./partials/page-loader-wrapper.ejs %>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<% include ./partials/top-bar.ejs %>
<section>
    <% include ./partials/left-sidebar.ejs %>
    <% include ./partials/right-sidebar.ejs %>
</section>

<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            LINES
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="ss_name_search_str">S/S Name</label><br>
                                    <input type="text" id="ss_name_search_str" value="">
                                </td>
                                <td>
                                    <label for="volt_level_search_str">Voltage</label>
                                    <select name="volt_level_search_str" id="volt_level_search_str"
                                            class="form-control show-tick">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="owner_search_str">Owner</label><br>
									<select name="owner_search_str" id="owner_search_str"
                                            class="form-control show-tick">
                                        <option value="">-- Please select --</option>
                                    </select>                                    
                                </td>
                                <td>
                                    <label for="region_search_str">Region</label>
                                    <select name="region_search_str" id="region_search_str"
                                            class="form-control show-tick">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="server_rows_limit_input">Rows per fetch</label>
                                    <input type="number" id="server_rows_limit_input" value="10">
                                </td>
                                <td>
                                    <label for="server_rows_page_input">Page</label>
                                    <input type="number" id="server_rows_page_input" value="0" min="0" step="1">
                                </td>
                                <td>
                                    <label for="cond_type_search_str">Conductor Type</label>
                                    <select name="cond_type_search_str" id="cond_type_search_str"
                                            class="form-control show-tick">
                                        <option value="">-- Please select --</option>
                                    </select>
                                </td>
								<td>
                                    <button class="btn btn-primary" onclick="refreshTableData()">Search</button>
                                </td>
							</tr>
                        </table>
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable"
                               id="example">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Line_Conductor_Type</th>
                                <th>Level</th>
                                <th>Owner_Names</th>
                                <th>Region_Names</th>
                                <th>State_Names</th>
                                <th>SS_Names</th>
                                <th>Num</th>
                                <th>SS_Owner_names</th>
                                <th>SS_Region_names</th>
                                <th>SS_State_Names</th>
                                <th>Line_Length</th>
                                <th>Line_No_Load_MVAR</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<!-- Jquery Core Js -->
<script src="plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="plugins/node-waves/waves.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

<!-- Custom Js -->
<script src="js/admin.js"></script>
<!--<script src="js/pages/tables/jquery-datatable.js"></script>-->

<!-- Logic Js -->
<script src="lines-query.js"></script>

<!-- Demo Js -->
<script src="js/demo.js"></script>
</body>

</html>